// _variables.scss
$primary-color: #227126;
$background-image-url: url(../Assets/grass.png);
$font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$logo-width: 200px;
$grid-cell-size: 40px;
$dropdown-arrow-size: 6px;
